@font-face {
    font-family: "iconfont"; /* Project id 4053428 */
    /* Color fonts */
    src: 
         url('//at.alicdn.com/t/c/font_4053428_4i0x1fz77so.woff2?t=1683372746146') format('woff2'),
         url('//at.alicdn.com/t/c/font_4053428_4i0x1fz77so.woff?t=1683372746146') format('woff'),
         url('//at.alicdn.com/t/c/font_4053428_4i0x1fz77so.ttf?t=1683372746146') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gitee:before {
    content: "\e60c";
  }
  
  .icon-csdn:before {
    content: "\e601";
  }
  
  .icon-wechat:before {
    content: "\e600";
  }
  
  .icon-Email_:before {
    content: "\e61a";
  }
  
  .icon-QQ:before {
    content: "\e610";
  }
  
  .icon-bilibili:before {
    content: "\e609";
  }
  